.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxMatrix {
  border: 1px solid #000;
  background-color: #585858;
  margin-left: 11rem;
}

.verticalText {
  position: absolute;
  transform: rotate(-90deg);
  white-space: nowrap;
  color: #f8f8f8;
  margin-right: 30rem;
}

.horizontalText {
  position: relative;
  color: #f8f8f8;
  right: 19rem;
  top: 13rem;
}

.row {
  display: flex;
}

.cellDot {
  flex: 1;
  border-radius: 100%;
  background-color: #e40000a9;
  text-align: center;
  width: 15px;
  height: 15px;
}

.cell {
  flex: 1;
  padding: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cellVerticalMidLeft {
  flex: 1;
  border-right: 1px solid #e40000;
  padding: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cellVerticalMidRight {
  flex: 1;

  border-left: 1px solid #e40000;
  padding: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cellHorizontalMidBottom {
  flex: 1;

  border-top: 1px solid #e40000;
  padding: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cellHorizontalMidTop {
  flex: 1;

  border-bottom: 1px solid #e40000;
  padding: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cellMidLeftTop {
  flex: 1;

  border-bottom: 1px solid #e40000;
  border-right: 1px solid #e40000;
  padding: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cellMidLeftBottom {
  flex: 1;

  border-top: 1px solid #e40000;
  border-right: 1px solid #e40000;
  padding: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cellMidRightTop {
  flex: 1;

  border-bottom: 1px solid #e40000;
  border-left: 1px solid #e40000;
  padding: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}

.cellMidRightBottom {
  flex: 1;

  border-top: 1px solid #e40000;
  border-left: 1px solid #e40000;
  padding: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
}
