#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.table-container {
  overflow-x: auto; /* Enables scrolling on smaller screens */
}

table {
  width: 100%; /* Makes the table use all available space */
  border-collapse: collapse; /* Removes space between borders */
  table-layout: fixed; /* Ensures consistent column sizing */
}

th,
td {
  border: 1px solid #ccc; /* Añade un borde a las celdas */
  text-align: left;
  padding: 8px;
  overflow: hidden; /* Evita que el contenido se desborde */
  text-overflow: ellipsis;
  white-space: normal; /* Permite que el texto pase a la siguiente línea */
  word-wrap: break-word; /* Asegura que las palabras no se partan inapropiadamente */
}
